/* import fonts and font weights */
@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&display=swap');

:root{
    /* primary */
    --light-red: hsl(0, 100%, 67%);
    --orangey-yellow: hsl(39, 100%, 56%);
    --green-teal: hsl(166, 100%, 37%);
    --cobalt-blue: hsl(234, 85%, 45%);

    /* primary with less opacity */
    --light-red-1: hsl(0, 100%, 67%, 0.1);
    --orangey-yellow-1: hsl(39, 100%, 56%, 0.1);
    --green-teal-1: hsl(166, 100%, 37%, 0.1);
    --cobalt-blue-1: hsl(234, 85%, 45%, 0.1);

    /* gradients (background) */
    --light-slate-blue: hsl(252, 100%, 67%);
    --light-royal-blue: hsl(241, 81%, 54%);

    --background-gradient: linear-gradient(var(--light-slate-blue), var(--light-royal-blue));

    /* gradients (circle) */
    --violet-blue: hsla(256, 72%, 46%, 1);
    --persian-blue: hsla(241, 72%, 46%, 0);

    --circle-gradient: linear-gradient(to bottom, var(--violet-blue), var(--persian-blue));

    /* neutral */
    --white: hsl(0, 0%, 100%);
    --pale-blue: hsl(221, 100%, 96%);
    --light-lavender: hsl(241, 100%, 89%);
    --dark-grey-blue: hsl(224, 30%, 27%);
}

@media (min-width: 600px) {
    body{
        display: grid;
        place-items: center;
        min-height: 100vh;
    }
}

@media (min-width: 600px){
    .grid-container{
        grid-template-columns: 1fr 1fr;
        border-radius: 2rem;
        overflow: hiddden;
    }
}

body{
    font-family: 'Hanken Grotesk', sans-serif;
    color: var(--dark-grey-blue);
    display: grid;
    place-content: center;
    min-height: 100vh;
}

/*  . for class 
    # for id    
*/

.grid-container{
    display: grid;
    max-width: 46rem;
    overflow: hidden;
    border-radius: 2rem;
    box-shadow: .5rem 1rem 3rem var(--pale-blue);
}

.result{
    background-image: var(--background-gradient);
    text-align: center;
    color: hsl(0, 0%, 100%, .7);
    border-radius: 2rem;
    padding: 2rem;
}

h2{
    padding-bottom: 1rem;
}

/* creating the circle */
.result-score{
    display: grid;
    place-items: center;
    background: var(--circle-gradient);
    width: 12rem;
    margin-inline: auto;
    border-radius: 50%;
    aspect-ratio: 1 / 1;
}

.result-score span{
    display: inline-block;
    font-size: 5rem;
    font-weight: 700;
    padding-top: 2rem;
    color: var(--white);
}

h1{
    color: var(--white);
}

.result-text{
    padding-left: 2.5rem;
    padding-right: 2.5rem;
}

.summary{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 2.5rem;
}

.reaction, .memory, .verbal, .visual{
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
    padding: 1rem;
    border-radius: .7rem;
}

/* to get the icon and the category to line up */
.icon-cat{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.icon{
    margin-right: .8rem;
}

.score{
    color: hsl(224, 30%, 27%, 0.5);
    font-weight: 800;
}

.score span{
    color: var(--dark-grey-blue);
    font-weight: 800;
}

.reaction{
    background-color: var(--light-red-1);
}

#reaction-color{
    color: var(--light-red);
}

.memory{
    background-color: var(--orangey-yellow-1);
}

#memory-color{
    color: var(--orangey-yellow);
}

.verbal{
    background-color: var(--green-teal-1);
}

#verbal-color{
    color: var(--green-teal);
}

.visual{
    background-color: var(--cobalt-blue-1);
}

#visual-color{
    color: var(--cobalt-blue);
}

.button{
    background: var(--dark-grey-blue);
    color: var(--white);
    border: 0;
    border-radius: 100vw;
    padding: 1rem 2rem;
    margin-top: 1rem;
}

.button:hover{
    background-color: var(--violet-blue);
}


/* styles included with file template */
.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}